    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../demo/photos/dil.jpg);
        background-size: cover;
    }
    
    .logo1 {
        width: 150px;
        margin-top: 3px;
    }
    
    .header {
        height: 10%;
    }
    
    .header-btn {
        text-decoration: none;
        border-radius: 30px;
        padding: 7px 20px;
        float: right;
        margin-top: 29px;
        color: #fff !important;
        background: #107afd;
        font-weight: 600;
    }
    
    .header h3 {
        color: white;
        font-family: "Courier";
        font-weight: 900px;
        font-size: 24px;
        white-space: nowrap;
        overflow: hidden;
        width: 20em;
        margin-left: 70%;
        margin-top: -6%;
        animation: type 4s steps(60, end);
    }
    
    @media (max-width: 430px) {
        .header h3 {
            margin-left: 0;
            width: 14em;
            font-size: 20px;
        }
    }
    
    @keyframes type {
        from {
            width: 0;
        }
    }
    
    @keyframes type2 {
        0% {
            width: 0;
        }
        50% {
            width: 0;
        }
        100% {
            width: 100;
        }
    }
    
    @keyframes blink {
        to {
            opacity: .0;
        }
    }
    
    .movie-details {
        margin: 3% 0;
    }
    
    .left-box {
        color: #fff;
    }
    
    .casting img {}
    
    .left-box a {
        text-decoration: none;
        border-radius: 30px;
        padding: 7px 20px;
        margin-top: 49px;
        color: #fff !important;
        background: #107afd;
        font-weight: 600;
        display: inline-block;
        margin-right: 10px;
    }
    
    .left-box a:hover {
        border: 1px solid #fff !important;
        background: transparent;
    }
    
    .fa {
        margin: 0 5px;
    }
    
    .movie-img {
        height: 350px;
        box-shadow: -4px 4px 5px 0 #000;
        opacity: 0.5;
        width: 100%;
    }
    
    .series h3 {
        color: #fff;
    }
    
    .series img {
        width: 100%;
        margin-top: 15px;
        box-shadow: -4px 4px 5px 0 #000;
        cursor: pointer;
        transition: 1s;
    }
    
    .series img:hover {
        transform: translateY(-10px);
    }